#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(5, 1, 1, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-size: xx-large;
  border: 2px solid black;
  width: 80%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.header-img {
  height: 100px;
  width: 70px;
  display: block;
  margin: 0 auto;
}

.header-text {
  font-size: 70px;
  border: 10px solid black;
  border-right: 0;
  border-left: 0;
  text-align: center;
}

.header-text2 {
  text-align: center;
}

body {
  margin: 0;
  display: flex;  
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration:solid;
  padding-right: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(8, 112, 123);
}

a:active {
  color: black;
}

.rainbow {
  animation: rainbow-bg 10s linear;
  animation-iteration-count: infinite;
  border-radius: 10%;
  margin-top: 30px;
  padding-top: 1%;
  padding-bottom: 50px;
}

.home {  
  font-size: xxx-large;
  text-align: center;
  /* border-radius: 10%; */
  /* border: 5px solid ; */
  padding: 10px;
  background-color: white;
  margin-top: 50px;
}

@keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}

.articles {
  max-width: 100%;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-title {
  background-color: rgb(179, 176, 176);
  font-size: large;
  padding: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.article-title:hover {
  background-color: grey;
  transform: scale(1.2);
}

.article-title img {
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  object-fit: cover;
}

.single-article {
  padding: 20px;
  padding-top: 0px;
  font-size: 23px;
  margin-top: 30px;
  width: 700px;
  background-color: rgb(93, 110, 93);
  border: solid 2px black;
  color: wh;
  border-radius: 30px;
}

.title {
  position: relative;
  text-align: center;
  color: white;
  border: 7px solid white;
  border-right: 0;
  border-left: 0;
}

.author {
  font-size: 34px;
  text-align: center;
  color: white;
}

.description {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: white;
}

.single-article img {
  border: solid 5px black;
  right: 20px;
}

.loading {
  text-align: center;
  margin-top: 300px;
  font-size: 75px;
}

.comment-btn {
  color: rgb(49, 24, 24);
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin-left: 200px;
  margin-top: 34px;
  font-size: large;
}

.comment-btn:hover {
  background-color: rgb(93, 110, 93);
  color: white;
}

.comments-title {
  padding: 15px;
  border: solid 2px black;
  border-radius: 20px;
  margin-top: 15px;
  width: 800px
}

.comments-title:hover {
  background-color: antiquewhite;
}

.comment-author {
  font-size: xx-large;
  font-weight:bolder;
  text-align: center;
}

.comment-body {
  font-style: italic;
    border-style:dashed;
    padding: 10px;
    border-right: 0;
    border-left: 0;
}

.comment-date {
  font-size: medium;
}

.comment-vote {
  font-size: x-large;
  text-align: center;
}

.comments-card {
  padding-top: 10px;
  margin-top: 40px;
}

.add-comment {
  margin-top: 50px;
  margin-left: 5px;
  padding: 10px;
  width: 300px;
}

.article-comment {
  font-weight: bold;
}

.comment-area {
  background-color: white;
  width: 300px;
  height: 50px;
}

.add-btn {
  position: relative;
  height: 55px;
  padding: 20px;
  bottom: 20px;
}

.add-btn:hover {
  background-color: rgb(93, 110, 93);
  color: white;
}

.vote-btn {
  font-size: xx-large;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 20px;
  border:solid 2px rgb(93, 110, 93);
  transition: transform 0.2s ;
}

.vote-btn:hover {
  transform: scale(1.1);
}

.delete-btn {
  padding: 12px;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  /* border: 20px; */
  border-radius: 20px;
}

.delete-btn:hover {
  cursor: pointer;
}

.comment-deleted {
  position: relative;
  left: 200px;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%, 49%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}